# Arquivos de configuração
.env

# Dependências do Composer
/vendor/
composer.lock

/storage/

# Arquivos de teste e cobertura
/coverage/
#/phpunit.xml

# Diretórios de cache, logs, e temporários
*.log
*.cache
*.tmp

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
*~

/themes/

/phpdocker/rabbitmq/
/phpdocker/README.html
/phpdocker/README.md

/index.php
phpinfo.php
test.php